.Button {
  display: flex;
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  color: #adb5bd;
  background-color: #e9ecef;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Button.Primary {
  background-color: #212529;
  color: #f8f9fa;
}

.Button.Compact {
  padding: 10px 15px;
}
