.Button {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.Label {
  font-size: 13px;
  font-weight: bold;
  padding-right: 5px;
}

.Button.Primary {
  background-color: #000000;
  color: #f2f2f2;
}
