.Form {
  display: flex;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  gap: 10px;
  flex-direction: column;
}

.Fields {
  display: flex;
  flex-direction: column;
  flex: 1;
}
