.Empty {
  background-color: #ffffff;
  border-radius: 20px 20px;
  padding: 40px 30px;
  /* border: 1px solid #e9ecef; */
  box-shadow: 0 0 0px 1px #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 25px;
  flex-direction: column;
}

.Text {
  font-size: 13px;
  text-align: center;
  max-width: 65%;
  color: #adb5bd;
}

.CropTop {
  border-radius: 0 0 20px 20px;
}

.Content {
  display: flex;
  gap: 10px;
}
