.Card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px 25px;
  box-shadow: 0 0 0px 1px #e9ecef;
  display: flex;
  user-select: none;
  gap: 15px;
  flex-direction: column;
}

.Title {
  margin: 0;
  font-size: 15px;
}

.Content {
  display: flex;
  gap: 5px;
}
