.Root {
  flex: 1;
  min-height: 100vh;
  max-width: 540px;
  display: flex;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 128px 0;
  justify-content: center;
  flex: 1;
}
