.Root {
  flex: 1;
  min-height: 100dvh;
  max-width: 540px;
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  padding: 0 30px;
}
