.Post {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Title {
  font-size: 20px;
  color: #212529;
  font-weight: bold;
}

.Image {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 10px;
}

.Header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Avatar {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.Info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Author {
  color: #212529;
  font-weight: bold;
  font-size: 14px;
}

.Date {
  font-size: 13px;
  color: #ced4da;
  user-select: none;
}
