.App {
  flex: 1;
  min-height: 100vh;
  max-width: 540px;
}

.Header {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 15px;
  user-select: none;
}

.Title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.Navigation {
  display: flex;
  align-items: center;
  gap: 5px;
}
