:root {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  background-color: #f8f9fa;
}

button,
input,
textarea {
  font-family: inherit;
}

#root {
  display: flex;
  justify-content: center;
  flex: 1;
}
